body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
}

body > * {
    padding: 0px 350px;
}

.header,
.main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    background-color: #1f2937;
    color: #e5e7eb;
    font-size: 18px;
}

.header h1 {
    color: #f9faf8;
    font-size: 24px;
}

.header ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 16px;
}

.main {
    min-height: 400px;
    gap: 48px;
}

.main h1{
    color: #f9faf8;
    font-size: 48px;
    font-weight: 800;
    margin: 0;
}

.main .text {
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 500px;
    justify-content: center;
    align-items: flex-start;
}

button {
    background-color: #3882f6;
    border: 1px solid black;
    padding: 8px 32px;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 10px;
    color: white;
}

.main img {
    flex: none;
    position: relative;
    width: 500px;
    height: 250px;
    line-height: 250px;
    text-align: center;
}

.main img::before{
    background-color: grey;
    content: "this is a placeholder for an image";
    position: absolute;
    width: 100%;
    height: 100%;
}

.secondary {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    gap: 24px;
}

.secondary h1{
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    padding-top: 36px;
}

.secondary .images{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 36px;
    padding-bottom: 72px;
    align-items: center;
}

.image{
    width: 180px;
}

.images img{
    flex: none;
    width: 175px;
    height: 175px;
    border-radius: 20px;
    border: 5px solid #3882f6;
}

.quote {
    margin: 0;
    padding-top: 72px;
    padding-bottom: 72px;
    background-color: #e5e7eb;
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
}

figcaption{
    text-align: right;
}
.end{
    background-color: #3882f6;
    min-height: 50px;
    margin: 72px 350px;
    border-radius: 15px;
    color: white;
    display: flex;
    font-size: 16px;
    padding: 32px 200px;
    align-items: center;
    justify-content: space-between;
}

.end strong{
    font-size: 24px;
}

.end button{
    border-color: white;
}


